<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.vinicius.rpg">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sigmund"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".inicio.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jogo.inicio.NovoJogo" />
        <activity android:name=".jogo.inicio.Jogo" />
        <activity android:name=".jogo.inicio.Continuar" />
        <activity
            android:name=".jogo.dungeon.Dungeon"
            android:launchMode="singleTask" />
        <activity android:name=".jogo.batalha.Battle" />
        <activity android:name=".jogo.inicio.PersonagemMenu" />
        <activity android:name=".jogo.guilda.Guilda"></activity>
    </application>

</manifest>